@import 'jeet/index';

//@include edit();

section{
    @include center(700px);
    @include stack();
    padding-bottom: 15px;
    
    
}

aside{
    @include column(1/3);
}

article{
    @include column(2/3);
}

footer img{
  
    @include column(1/10);
}


.hero-unit{
    height: 200px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    
    img{
        @include column(3/8);
        padding: 20px;
        
    }
    button{ @include column(1/2);}
       
    
    .icon_row{
        
    }
}


.icon_row{  
   img{
         @include column(1/10);
    }
}




