/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
section {
  *zoom: 1;
  width: auto;
  max-width: 700px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px; }
  section:before, section:after {
    content: '';
    display: table; }
  section:after {
    clear: both; }
  section:first-child {
    margin-left: auto; }
  section:last-child {
    margin-right: auto; }

aside {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 38.2%;
  margin-left: 0%;
  margin-right: 3%; }
  aside:first-child {
    margin-left: auto; }
  aside:last-child {
    margin-right: auto; }
  aside:before, aside:after {
    content: '';
    display: table; }
  aside:after {
    clear: both; }
  aside:last-child {
    margin-right: 0%; }

article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 58.8%;
  margin-left: 0%;
  margin-right: 3%; }
  article:before, article:after {
    content: '';
    display: table; }
  article:after {
    clear: both; }
  article:last-child {
    margin-right: 0%; }
  article a img {
    padding-top: 10px;
    margin: auto; }

.hero-unit {
  background: #f2f2f2;
  /* Old browsers */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  min-height: 230px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .hero-unit a img {
    padding-top: 10px;
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; }
    .hero-unit a img:before, .hero-unit a img:after {
      content: '';
      display: table; }
    .hero-unit a img:after {
      clear: both; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.icon_row button {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 58.8%;
  margin-left: 0%;
  margin-right: 3%; }
  .icon_row button:first-child {
    margin-left: auto; }
  .icon_row button:last-child {
    margin-right: auto; }
  .icon_row button:before, .icon_row button:after {
    content: '';
    display: table; }
  .icon_row button:after {
    clear: both; }
  .icon_row button:last-child {
    margin-right: 0%; }

#footer {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 700px;
  border-color: #db3535;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  bottom: 0;
  /* Set the fixed height of the footer here */
  background-color: #7dcecf; }
  #footer:first-child {
    margin-left: auto; }
  #footer:last-child {
    margin-right: auto; }
  #footer li:hover {
    color: #0a101a; }
